<app-navigationuser></app-navigationuser>
<br/>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="perido">Periodo</label>
                <input name="perido" type="text" class="form-control" id="perido" placeholder="Introduce "
                    [(ngModel)]="perido">
            </div>
            <button type="button" class="btn btn-primary">Ver</button>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="anio">Año</label>
                <input name="anio" type="text" class="form-control" id="anio" placeholder="Introduce "
                    [(ngModel)]="anio">
            </div>
        </div>
    </div>
</div>
<br/>
<div class="container">
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Seccion</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Aula</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Docente</th>
                </tr>
            </thead>
        </table>
    </div>
</div>