<app-navigationuser></app-navigationuser>
<br/>
<br/>
<div class="container">
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Seccion</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Aula</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Docente</th>
                </tr>
            </thead>
        </table>
    </div>
</div>